# Byte-compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment directories
venv/
env/
.venv/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs and local environment settings
*.log
*.env
*.ini
*.local

# Testing and coverage output
.tox/
.coverage
*.cover
*.coverage.*

# Package files
*.egg
*.egg-info/
dist/
build/
*.spec

# PyCharm-specific files
.idea/
*.iml
*.iws

# OS-specific files
.DS_Store
Thumbs.db

# Temporary files and directories
*.bak
*.swp
*.tmp
